<div class="container article-container">
    <div class="header-title">
        <h2 ng-bind="model.title"></h2>
        <div class="infos">
            <span><i class="fa fa-fw fa-calendar-check-o"></i></span>
            <span>发表于</span>
            <span class="svalue">2017-01-23</span>
            <span class="split">|</span>
            <span class="icon"><i class="fa fa-fw fa-th"></i></span>
            <span>分类</span>
            <span class="svalue">SpringCloud</span>
            <span class="split">|</span>
            <span><i class="fa fa-fw fa-comment-o"></i></span>
            <span class="svalue">2条评论</span>
        </div>
    </div>

    <div class="article-content">

    </div>
</div>

