<div class="container home-container" ng-repeat="item in list">
    <a class="title" ng-href="/article/{{item.id}}">{{item.title}}</a>
    <p class="infos">
        <span><i class="fa fa-fw fa-calendar-check-o"></i></span>
        <span>发表于</span>
        <span class="svalue">{{item.publishTime}}</span>
        <span class="split">|</span>
        <span class="icon"><i class="fa fa-fw fa-th"></i></span>
        <span>分类</span>
        <span class="svalue">{{item.classifyName}}</span>
        <span class="split">|</span>
        <span><i class="fa fa-fw fa-comment-o"></i></span>
        <span class="svalue">{{item.commentNum}}条评论</span>
    </p>
    <div class="summary">
        {{item.summary}}
    </div>
    <a ng-href="/article/{{item.id}}" class="view">阅读全文</a>
</div>

<a ng-if="hasMore" href="" class="load-more">加载更多</a>