<div class="container home-container">
    <a class="title" href="">《Spring Cloud与Docker微服务架构实战》配套代码</a>
    <p class="infos">
        <span><i class="fa fa-fw fa-calendar-check-o"></i></span>
        <span>发表于</span>
        <span class="svalue">2017-01-23</span>
        <span class="split">|</span>
        <span class="icon"><i class="fa fa-fw fa-th"></i></span>
        <span>分类</span>
        <span class="svalue">SpringCloud</span>
        <span class="split">|</span>
        <span><i class="fa fa-fw fa-comment-o"></i></span>
        <span class="svalue">2条评论</span>
    </p>
    <div class="summary">
        Spring Cloud默认为Zuul编写并启用了一些过滤器，这些过滤器有什么作用呢？我们不妨按照@EnableZuulServer、@EnableZuulProxy两个注解进行展开，相信大家对这两个注解都不陌生（至少都见过吧）。如果觉得陌生也没有关系，可将@EnableZuulProxy简单理解为@EnableZuulServer的增强版。事实上，当Zuul与Eureka、Ribbon等组件配合使用时，@EnableZuulProxy是我们常用的注解。
    </div>
    <a href="" class="view">查看详情</a>
</div>

<div class="container home-container">
    <a class="title" href="">《Spring Cloud与Docker微服务架构实战》配套代码</a>
    <p class="infos">
        <span><i class="fa fa-fw fa-calendar-check-o"></i></span>
        <span>发表于</span>
        <span class="svalue">2017-01-23</span>
        <span class="split">|</span>
        <span class="icon"><i class="fa fa-fw fa-th"></i></span>
        <span>分类</span>
        <span class="svalue">SpringCloud</span>
        <span class="split">|</span>
        <span><i class="fa fa-fw fa-comment-o"></i></span>
        <span class="svalue">2条评论</span>
    </p>
    <div class="summary">
        Spring Cloud默认为Zuul编写并启用了一些过滤器，这些过滤器有什么作用呢？我们不妨按照@EnableZuulServer、@EnableZuulProxy两个注解进行展开，相信大家对这两个注解都不陌生（至少都见过吧）。如果觉得陌生也没有关系，可将@EnableZuulProxy简单理解为@EnableZuulServer的增强版。事实上，当Zuul与Eureka、Ribbon等组件配合使用时，@EnableZuulProxy是我们常用的注解。
    </div>
    <a href="" class="view">查看详情</a>
</div>